:80
root * /srv
try_files {path}.html
@static path_regexp \.(html|css|js|avif|jxl|png|mp4|webm|jpeg|jpg|svg|woff|woff2|ttf)$
header @static Cache-Control max-age=5184000
@html path *.html
header @html +Link </api/webmention>; rel=webmention
file_server
