<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="language" content="{{.Lang}}">
        <meta name="site_name" property="og:site_name" content="{{.Site.Name}}">
        {{if .AltTitle }}
        <meta name="title" property="og:title" content="{{Render .Title}}&mdash;{{Render .AltTitle}}">
        {{else}}
        <meta name="title" property="og:title" content="{{Render .Title}}">
        {{end}}
        <meta name="type" property="og:type" content="article">
        {{if .Description}}
        <meta name="description" property="og:description" content="{{.Description}}">
        {{end}}
        <meta name="published_time" property="article:published_time" content="{{.PublishedFull}}">
        {{if .Published.HasRevision}}<meta name="modified_time" property="article:modified_time" content="{{.RevisedFull}}">{{end}}
        <meta name="author" property="article:author" content="{{Render .Author.Name}}">
        {{range .Tags}}<meta name="tag" property="article:tag" content="{{.}}">
        {{end}}<link rel="stylesheet" href="/styles.css" title="Default Style">
        <link rel="alternate stylesheet" href="/secret.css" title="Secret Style">
        <link rel="icon" type="image/png" href="favicon.svg">
        <link rel="alternate" type="application/rss+xml" href="/rss.xml">
        <link rel="alternate" type="application/atom+xml" href="/atom.xml">
        <link rel="alternate" type="application/feed+json" href="/feed.json">
        <link rel="canonical" href="{{.Canonical}}">
        {{if .Author.RelMe}}
        <link rel="me" href="{{Render .Author.RelMe}}">
        {{end}}
        {{if .Author.FediCreator}}
        <meta name="fediverse:creator" content="{{Render .Author.FediCreator}}">
        {{end}}
        <link rel="webmention" href="/api/webmention">
        {{if .AltTitle}}
        <title>{{Render .Title}}&mdash;{{Render .AltTitle}}</title>
        {{else}}
        <title>{{Render .Title}}</title>
        {{end}}
        <script src="/js/toc.js"></script>
    </head>
    <body>
        <div class="skip-navigation">
            <p>Skip to:</p>
            <a href="#content">Content</a>
            <a href="#{{.FirstSectionID}}">{{.FirstSectionName}}</a>
            <a href="#eof">EOF</a>
        </div>
        <main>
            <header>
                <nav id="topbar">
                    <code>({{.Site.Name}}</code>
                    <a class="item" href="/"><code>:home</code></a>
                    <a class="item" href="/about"><code>:about</code></a>
                    <div class="dropdown item">
                        <input id="feed-dropdown" type="checkbox">
                        <label for="feed-dropdown"><code class="link-like" tabindex="0">:feed</code></label>
                        <span class="dropdown-itemlist">
                            <!-- white-space: pre as an ugly work-around to aligning on the : -->
                            <a href="/feed.rss"><code style="white-space: pre;">:rss </code></a>
                            <a href="/feed.atom"><code>:atom</code></a>
                            <a href="/feed.json"><code>:json</code></a>
                        </span>
                    </div>
                    <code>)</code>
                </nav>
            </header>
            <article>
                <div class="title">
                    <h1 id="content">{{Render .Title}}</h1>
                    {{if .AltTitle}}
                    <p class="tagline">{{Render .AltTitle}}</p>
                    {{end}}
                    <aside id="content-info">
                        <div class="info-line">
                            <p><small>{{.Published}}</small></p>
                            <p title="{{.WordCount}} words"><small>~{{.EstReading}}&prime;</small></p>
                        </div>
                        <div class="info-line taglist">
                        {{range .Tags}}<p><a href="/:{{.}}">:{{.}}</a></p>
                        {{end}}</div>
                    </aside>
                </div>
                {{if .IsPartOfSeries}}
                {{with .Series}}
                <div id="series">
                {{if .HasPrev}}
                    <div class="series-prev">
                        <p>← Previous in Series</p>
                        <a title="{{Render .Prev.Title}}" href="{{.Prev.Link}}">{{Render .Prev.Title}}</a>
                    </div>
                {{end}}
                <div class="series-title">
                    <p>Series Overview</p>
                    <a href="{{.Link}}">{{Render .Name}}</a>
                </div>
                {{if .HasNext}}
                    <div class="series-next">
                        <p>Next in Series →</p>
                        <a title="{{Render .Next.Title}}" href="{{.Next.Link}}">{{Render .Next.Title}}</a>
                    </div>
                {{end}}
                </div>
                {{end}}
                {{end}}
                {{if .ShowLongTimeSinceRevisedWarning}}
                <div id="long-time-since-revised">
                    <p>This post is more than 3 years old.<br>Information may be out of date and my opinions on the topic have likely changed.</p>
                </div>
                {{end}}
                {{Render .TOC}}
                {{if .Abstract}}
                <section id="Abstract">
                    <h2><a href="#Abstract">Abstract</a></h2>
                    {{range .Abstract}}{{Render .}}{{end}}
                </section>
                {{end}}
                {{range .Sections}}
                {{Render .}}
                {{end}}
                {{if .ShowRelevantSection}}
                {{with .Relevant}}
                <div id="currently-reading">
                    <hr>
                    <h2>{{Render .Heading}}</h2>
                    <div id="reading-section">
                        {{range .Articles}}
                        <div class="reading-item">
                            <a href="{{.Link}}" target="_blank">{{Render .Title}}</a>
                            <p><small>{{.FormatDate}}, by <a href="{{.AuthorLink}}" target="_blank">{{Render .Author}}</a></small></p>
                            {{range .Abstract}}{{Render .}}{{end}}
                        </div>
                        {{end}}
                    </div>
                </div>
                {{end}}
                {{end}}
            </article>

            <form class="fsb-prompt">
                <label>Share this page from your Fediverse server</label>
                <div class="fsb-input-group mb-3">
                    <span class="fsb-input-group-text">https://</span>
                    <input required
                           type="text"
                           name="fediverse-domain"
                           placeholder="mastodon.social"
                           class="fsb-input fsb-domain"
                           aria-label="Server domain">
                    <button class="fsb-button" type="submit">
                        <img src="/fediverse-share-button/icons/mastodon.svg" class="fsb-icon">
                        Share
                    </button>
                </div>
                <p class="fsb-support-note fsb-d-none">This server does not support sharing. Please visit <a class="fsb-support-note-link" target="_blank" href=""></a>.</p>
            </form>
            <link rel="stylesheet" href="/fediverse-share-button/styles.css">
            <script src="/fediverse-share-button/script.js" defer class="fsb-script"></script>

            <footer>
                <p id="eof">STOP)))))</p>
                <!-- @todo: link to copyleft licence? -->
                {{if .Author.Email}}
                <address>&copy; {{.CopyrightYears}} {{.ObfuscatedAuthorCredit}}</address>
                {{else}}
                <address>&copy; {{.CopyrightYears}} {{Render .Author.Name}}</address>
                {{end}}
                <span class="credits">
                  <a href="/about#credits">Font Licenses</a>
                  <a href="/about">About</a>
                  <a href="/feed.rss">RSS</a>
                  <a href="/feed.atom">Atom</a>
                  <a href="/feed.json">JSON</a>
                </span>
            </footer>
        </main>
    </body>
</html>
